@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Header{
    This is another header
}

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome
            </div>
            <div class="card-body">
                @if (Session["FullName"] != null)
                {
                    <p>Name: @Session["FullName"].ToString()</p>
                    <p>Email: @Session["Email"].ToString()</p>
                    <p>Role: @Session["Roles"].ToString()</p>
                    if (Session["Roles"].ToString() == "Admin")
                    {
                        <h2>Es Admin</h2>
                    }

                    @Ajax.ActionLink("Test", // <-- Text to display
                                        "AjaxNetTest", // <-- Action Method Name
                                        new { email = @Session["Email"].ToString() },
                                        new AjaxOptions
                                        {
                                         UpdateTargetId = "test", // <-- DOM element ID to update
                                         InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                                         HttpMethod = "GET" // <-- HTTP method
                                        })
                    <span id="test" class="badge badge-primary"></span>

                    <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                }
            </div>
        </div>

    </div>
</div>

@section script
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

    @section Footer{
        This is another Footer
    }